body, html{
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: #f4f4f4;
}
/* 배경 이미지 설정 */
body {
    /*margin-top: 10%;*/
    text-align: center;
    background-image: url('img/backgroundset.gif'); /* 배경 이미지 경로 설정 */
    background-size: cover; /* 이미지가 전체 화면을 커버하도록 설정 */
    background-position: center; /* 이미지를 화면 중앙에 위치시킴 */
    background-repeat: no-repeat;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
